Question 1

In [10]:
students = [
    {"Maths": 78, "Science": 85, "English": 90, "IT": 92},
    {"Maths": 78, "Science": 85, "English": 90, "IT": 92},
    {"Maths": 77, "Science": 85, "English": 90, "IT": 92},
    {"Maths": 75, "Science": 85, "English": 90, "IT": 92},
    {"Maths": 81, "Science": 85, "English": 90, "IT": 92},
    {"Maths": 90, "Science": 89, "English": 90, "IT": 92},
    {"Maths": 65, "Science": 45, "English": 90, "IT": 92},
    {"Maths": 75, "Science": 78, "English": 90, "IT": 92},
    {"Maths": 95, "Science": 83, "English": 90, "IT": 92},
    {"Maths": 53, "Science": 86, "English": 90, "IT": 92},
    {"Maths": 69, "Science": 75, "English": 90, "IT": 92},
]
subjects = ['Maths', 'Science', 'English', 'IT']

results = {subject: {"highest": 0, "lowest": 100, "total": 0} for subject in subjects}

highest = 0
lowest = 100 * len(subjects)
total = 0

for student in students:
    students_total = 0
    for subject, marks in student.items():
        results[subject]["highest"] = max(results[subject]["highest"], marks)
        results[subject]["lowest"] = min(results[subject]["lowest"], marks)
        results[subject]["total"] += marks
        
        students_total  += marks

    highest = max(highest, students_total)
    lowest = min(lowest, students_total)
    total += students_total
    
for subject in subjects:
    results[subject]["average"] = results[subject]["total"] / len(students)
    
average = total/(len(students) * len(subjects))

for subject in subjects:
    print(f"{subject}:")
    print("Highest: ", results[subject]["highest"])
    print("Lowest: ",results[subject]["lowest"])
    print("Average: ",results[subject]["average"])

Maths:
Highest:  95
Lowest:  53
Average:  76.0
Science:
Highest:  89
Lowest:  45
Average:  80.0909090909091
English:
Highest:  90
Lowest:  90
Average:  90.0
IT:
Highest:  92
Lowest:  92
Average:  92.0

Question 2

In [11]:
salary = int(input("Salary: "))
HRA:int=0
DA:int=0
if salary <= 10000:
    HRA = 20
    DA = 80
elif salary <= 20000:
    HRA = 25
    DA = 90
elif salary > 20000:
    HRA = 30
    DA = 95
    
net_hra = HRA*salary/100
net_da = DA*salary/100
gross_sal = net_da+ net_hra + salary
print(f"Your Gross salary is: {gross_sal}")

Your Gross salary is : 32250.0

Question 3

In [18]:
inp_pass = input("Password: ")
is_valid:bool = False

def validate(inp_pass):
    if len(inp_pass) < 6 or len(inp_pass) > 16:
        is_valid = False
        print('Password should be Minimum 6 characters and Maximum 16 characters')
        return
    sp_cntr:int = 0
    nm_cntr:int = 0
    lo_cntr:int = 0
    up_cntr:int = 0
    special_chars = ['$', '#', '@']
    for c in inp_pass:
        if c in special_chars:
            sp_cntr+=1
        if c.isdigit():
            nm_cntr+=1
        if c.islower():
            lo_cntr+=1
        if c.isupper():
            up_cntr+=1
    
    if sp_cntr<1:
        print('Password should have at least 1 character from [$#@]')
        return
    elif nm_cntr<1:
        print('Password should have at least 1 number between [0-9]')
        return
    elif lo_cntr<1:
        print('Password should have at least 1 letter between [a-z]')
        return
    elif up_cntr<1:
        print('Password should have at least 1 letter between [A-Z]')
        return
    
    print("Your password is valid!")
    
validate(inp_pass)

Password should have at least 1 letter between [a-z]

Question 4

In [22]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80]
print(my_list)
print('Adding 200 and 300')
my_list.append(200)
my_list.append(300)
print(my_list)

print("Removing 10 and 30")
my_list.remove(10)
my_list.remove(30)
print(my_list)

print("Ascending:")
my_list.sort()
print(my_list)

print("Descending:")
my_list.sort(reverse=True)
print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80]
Adding 200 and 300
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
Removing 10 and 30
[20, 40, 50, 60, 70, 80, 200, 300]
Ascending:
[20, 40, 50, 60, 70, 80, 200, 300]
Descending:
[300, 200, 80, 70, 60, 50, 40, 20]

Question 5

In [1]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

D[6] = "Six"
print("after adding key=6:", D)

if 2 in D:
    D.pop(2)
print("after removing key=2:", D)
key_present = 6 in D
print("key=6 present in D?:", key_present)

num_elements = len(D)
print("Number of elements in D:", num_elements)

all_values = "".join(D.values())
print("concatenation of all values in D:", all_values)

after adding key=6: {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
after removing key=2: {1: 'One', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
key=6 present in D?: True
Number of elements in D: 5
concatenation of all values in D: OneThreeFourFiveSix

Question 6

In [2]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
print("Odd numbers:", odd_numbers)
print("Count of odd numbers:", len(odd_numbers))

even_numbers = [num for num in random_numbers if num % 2 == 0]
print("Even numbers:", even_numbers)
print("Count of even numbers:", len(even_numbers))

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in random_numbers if is_prime(num)]
print("Prime numbers:", prime_numbers)
print("Count of prime numbers:", len(prime_numbers))

Odd numbers: [593, 739, 251, 587, 649, 303, 701, 275, 435, 681, 623, 833, 275, 119, 357, 199, 151, 313, 395, 365, 377, 373, 277, 479, 797, 791, 337, 317, 375, 345, 691, 597, 517, 313, 847, 707, 399, 537, 125, 227, 143, 745, 731, 253, 349, 513, 223, 347, 419, 513, 803, 865, 737, 195, 353, 771, 197, 863, 419, 149]
Count of odd numbers: 60
Even numbers: [196, 436, 862, 782, 348, 674, 152, 794, 402, 888, 670, 354, 838, 754, 572, 300, 620, 808, 390, 670, 440, 528, 284, 328, 630, 184, 734, 834, 368, 148, 768, 492, 496, 670, 384, 822, 880, 270, 116, 660]
Count of even numbers: 40
Prime numbers: [593, 739, 251, 587, 701, 199, 151, 313, 373, 277, 479, 797, 337, 317, 691, 313, 227, 349, 223, 347, 419, 353, 197, 863, 419, 149]
Count of prime numbers: 26

Question 7

In [ ]:
def compound_interest(principal, rate, time):
    return principal * ((1 + rate / 100) ** time - 1)

principal = 10000
rate = 5
time = 2
ci = compound_interest(principal, rate, time)
print("Compound Interest:", ci)

Question 8

In [5]:
class Restaurant:
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type

    def desc_restaurant(self):
        print(f"Restaurant Name: {self.restaurant_name}")
        print(f"Cuisine Type: {self.cuisine_type}")

    def open_restaurant(self):
        print(f"{self.restaurant_name} is now open!")

restaurant = Restaurant("Romatini", "Italian")
print(restaurant.restaurant_name)
print(restaurant.cuisine_type)

restaurant.desc_restaurant()
restaurant.open_restaurant()

Romatini
Italian
Restaurant Name: Romatini
Cuisine Type: Italian
Romatini is now open!

In [8]:
class User:
    def __init__(self, first_name, last_name, age, email, city):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.email = email
        self.city = city

    def desc_user(self):
        print(f"User Profile:")
        print(f"Name: {self.first_name} {self.last_name}")
        print(f"Age: {self.age}")
        print(f"Email: {self.email}")
        print(f"City: {self.city}")

    def greet_user(self):
        print(f"Hello, {self.first_name}! Welcome back!")

user1 = User("Ishan", "Singla", 28, "ishan@gmail.com", "Patiala")
user2 = User("Janya", "Makhija", 34, "janya@gmail.com", "Panipat")
user3 = User("Rakshit", "Dhamija", 25, "rakshit@gmail.com", "Zirkpur")
user4 = User("Tanvi", "-", 25, "tanvi@gmail.com", "Rajpura")

user1.desc_user()
user1.greet_user()

user2.desc_user()
user2.greet_user()

user3.desc_user()
user3.greet_user()

user4.desc_user()
user4.greet_user()

User Profile:
Name: Ishan Singla
Age: 28
Email: ishan@gmail.com
City: Patiala
Hello, Ishan! Welcome back!
User Profile:
Name: Janya Makhija
Age: 34
Email: janya@gmail.com
City: Panipat
Hello, Janya! Welcome back!
User Profile:
Name: Rakshit Dhamija
Age: 25
Email: rakshit@gmail.com
City: Zirkpur
Hello, Rakshit! Welcome back!
User Profile:
Name: Tanvi -
Age: 25
Email: tanvi@gmail.com
City: Rajpura
Hello, Tanvi! Welcome back!